body {
  background-color:#000;
  color:#fff;
}

/* Links */

 /* unvisited link */
a:link {
  color: red;
}

/* visited link */
a:visited {
  color: green;
}

/* mouse over link */
a:hover {
  color: hotpink;
}

/* selected link */
a:active {
  color: blue;
} 

/* Tables in 2024? More than likely than you think. */

.table-container{
  background-color:lightblue;
  padding:16px;
  border:4px solid blue;
  margin:8px;
}

.table-item{
  background-color:peachpuff;
  border: 4px solid salmon;
  color:#000;
  height:48px;
  flex:1;
  padding:4px;
}

/* Button */

.button {
  background-color:lightgreen;
  border: 4px solid green;
  border-radius:10px;
  color:#000;
  width:250px;
}

.button:hover {
  background-color:lightyellow;
  border: 4px solid lightorange;
  border-radius:10px;
  color:#000;
  width:250px;
}

/* Flex below */

.flex-container{
  background-color:lightblue;
  padding:16px;
  border:4px solid blue;
  margin:8px;
  display:flex block;
  clear:both;
}

.item{
  background-color:peachpuff;
  border: 4px solid salmon;
  height:48px;
  flex:1;
  padding:4px;
}

.item2{
  background-color:lightgreen;
  border: 4px solid green;
  height:48px;
  flex:2;
  padding:4px;
}
